.parsley-error-list {
  padding-top: 10px;
  color: #b94a48;
}

.button-pull-left {
	float: left;
	margin-left: 5px;
}

.cell-action {
	width: 349px;
}

.add-new-item {
	margin: 20px 0;
}

.rating-author {
	display: block;
}

.raty i {
	color: #f6cf3f;
}

.rating-show {
	font-size: 23px;
	color: #f6cf3f;	
}